@model ProperArch01.Contracts.Models.ClassTimetable.ClassTimetableSlotViewModel

<div style="background: rgba(@Model.Colour.Red, @Model.Colour.Green, @Model.Colour.Blue, 0.3);">
    <div style="">
        <p>@Model.ClassName</p>
        <p>@Model.StartTime.ToShortTimeString() - @Model.EndTime.ToShortTimeString()</p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = @Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = @Model.Id })
        </p>
    </div>
    
</div>
