@model ProperArch01.Contracts.Models.ClassTimetable.ClassTimetableSlotViewModel

<div style="background: rgba(@Model.Colour.Red, @Model.Colour.Green, @Model.Colour.Blue, 0.3);">
    <div style="">
        <p>@Model.ClassName</p>
        <p>@Model.StartTime.ToString("h:mm") - @Model.EndTime.ToString("hh:mm tt")</p>
        @if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
        {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = @Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = @Model.Id })
        </p>
        }
    </div>
</div>
