@model IEnumerable<ProperArch01.Contracts.Models.ClassTimetable.ClassTimetableRowViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>MLC CLASS AND TIMETABLE</h2>

@if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

    


<table class="table table-bordered timetable">
    <tr>
        <th>        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th>
            Saturday
        </th>
        <th>
            Sunday
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StartHour
            </td>
            <td>
                @if (item.MondayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.MondayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 1, startHour = @item.StartHour })
                }
            </td>

            <td>
                @if (item.TuesdayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.TuesdayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 2, startHour = @item.StartHour })
                }
            </td>

            <td>
                @if (item.WednesdayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.WednesdayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 3, startHour = @item.StartHour })
                }
            </td>

            <td>
                @if (item.ThursdayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.ThursdayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 4, startHour = @item.StartHour })
                }
            </td>

            <td>
                @if (item.FridayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.FridayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 5, startHour = @item.StartHour })
                }
            </td>

            <td>
                @if (item.SaturdayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.SaturdayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 6, startHour = @item.StartHour })
                }
            </td>

            <td>
                @if (item.SundayTimeSlot != null)
                {
                    @Html.Partial("_ClassSlotViewModel", item.SundayTimeSlot)
                }
                else if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                {
                    @Html.ActionLink("Add class", "Create", new { weekday = 0, startHour = @item.StartHour })
                }
            </td>
        </tr>
    }
</table>
