@model ProperArch01.Contracts.Models.Manage.AccountIndexViewModel

@{
    ViewBag.Title = "Account summary";
}

<h2>Your account</h2>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
    <dd>@Html.DisplayFor(model => model.FullName)</dd>
    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
    <dd>@Html.DisplayFor(model => model.Email)</dd>
    <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
    <dd>@Html.DisplayFor(model => model.UserName)</dd>
</dl>

@Html.ActionLink("Edit account details", "Edit", new { id = Model.Id})

@if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AttendeeName))
{
    <br>
    if (Model.ScheduledClasses != null && Model.ScheduledClasses.Any())
    {
        <table class="table table-striped">
            <tr>
                <th>Class</th>
                <th>Date/time</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.ScheduledClasses)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.ClassTypeName)</td>
                    <td>@Html.DisplayFor(m => item.ClassStartTime)</td>
                    <td>
                        @Html.ActionLink("View", "Details", "ScheduledClass", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>You are not signed up to any classes</p>
    }

    if (Model.ClassesAttended != null && Model.ClassesAttended.Any())
    {
        <table class="table table-striped">
            <tr>
                <th>Class</th>
                <th>Date/time</th>
            </tr>
            @foreach (var item in Model.ClassesAttended)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.ScheduledClassName)</td>
                    <td>@Html.DisplayFor(m => item.ClassStartDateTime)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>You have not yet attended any classes</p>
    }
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
