<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mitchelstown Leisure Centre</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="font-family:Calibri">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                foreach (var menuListItem in ProperArch01.WebApp.Helpers.HelperMethods.GetAboutMenu())
                                {
                                    <li>@Html.ActionLink(menuListItem.DisplayName, menuListItem.ActionName, menuListItem.ControllerName)</li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rates<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                foreach (var menuListItem in ProperArch01.WebApp.Helpers.HelperMethods.GetRatesMenu())
                                {
                                    <li>@Html.ActionLink(menuListItem.DisplayName, menuListItem.ActionName, menuListItem.ControllerName)</li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                var menu = ViewBag.ClassTypes;
                                if (menu != null && menu.Count > 0)
                                {
                                    foreach (var item in menu)
                                    {
                                        <li>@Html.ActionLink($"{item.Name}", $"Details/{item.Id}", "ClassType")</li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                    @if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AttendeeName))
                    {
                        <li>@Html.ActionLink("Upcoming Classes", "Index", "ClassAttendance")</li>
                    }

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facilities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                foreach (var menuListItem in ProperArch01.WebApp.Helpers.HelperMethods.GetFacilitiesMenu())
                                {
                                    <li>@Html.ActionLink(menuListItem.DisplayName, menuListItem.ActionName, menuListItem.ControllerName)</li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                foreach (var menuListItem in ProperArch01.WebApp.Helpers.HelperMethods.GetActivitiesMenu())
                                {
                                    <li>@Html.ActionLink(menuListItem.DisplayName, menuListItem.ActionName, menuListItem.ControllerName)</li>
                                }
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole(ProperArch01.Contracts.Constants.RoleNames.AdminName))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin tools<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @{
                                    foreach (var menuListItem in ProperArch01.WebApp.Helpers.HelperMethods.GetAdminMenu())
                                    {
                                        <li>@Html.ActionLink(menuListItem.DisplayName, menuListItem.ActionName, menuListItem.ControllerName)</li>
                                    }
                                }
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="min-height: 900px">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    <div class="footer-full-width">
        <div class="container">
            <div class="row" style="background-color: #21409A">
                <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12">
                    <p>Mitchelstown Leisure Centre</p>
                    <p>Brigown Road</p>
                    <p>Mitchelstown</p>
                    <p>Co. Cork</p>
                </div>
                <div class="col-md-5 col-lg-4 col-md-offset-3 col-lg-offset-4 col-sm-7 col-xs-12">
                    <div class="opening-hours-bottom">
                        <h4>Opening times:</h4>
                        <dl class="dl-horizontal">
                            @{
                                var openingTimes = ViewBag.OpeningHours;
                                foreach (var openingTime in openingTimes.OpeningHours)
                                {
                                    <dt>@openingTime.Day</dt>
                                    <dd>@openingTime.TimeRange</dd>
                                }
                            }
                        </dl>
                        @if (!string.IsNullOrEmpty(ViewBag.OpeningHours.BankHolidayNote))
                        {
                            <h4 style="color: white">@ViewBag.OpeningHours.BankHolidayNote</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-bottom navbar-inverse">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "MissionAim", "Home")</li>
                    <li>@Html.ActionLink("Rates", "MembershipRates", "Home")</li>
                    <li>@Html.ActionLink("Classes", "Index", "ClassTimetable")</li>
                    <li>@Html.ActionLink("Facilities & Booking Forms", "BookingForms", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink($"{@DateTime.Now.Year} - Mitchelstown Leisure Centre", "MissionAim", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/datePicker")
    @RenderSection("scripts", required: false)
</body>
</html>
